# # all ignore #

suckless
.vscode

.config/*
!.config/*

.config/alacritty/*
!.config/alacritty/*

.config/bat/*
!.config/bat/*

.config/dconf/*
!.config/dconf/*

.config/dunst/*
!.config/dunst/*

.config/google-chrome
!.config/zsh/*
.config/zsh/zinit/
.config/Code
.config/pulse
.config/pulse
.config/pulse
.config/google-chrome
.config/google-chrome-beta
.config/google-chrome-beta-back-ovfs
.config/google-chrome-beta-backup
.config/google-chrome-dev
.config/microsoft-edge-dev
.config/microsoft-edge-dev-back-ovfs
.config/microsoft-edge-dev-backup
.config/aurutils
.config/autostart
.config/cava
.config/chromium
.config/czkawka
.config/FireDM
.config/font-manager
.config/geany/*
!.config/geany/*
.config/gh
.config/user-dirs.locale
.config/user-dirs.dirs


!Pictures
!Pictures/*
/Downloads
/Documents
/Music
/Templates
/Videos
/.cache
/.gnome
/.gnupg
/.lyrics
/.npm
/.pki
/.ssh
/.subversion
/.vim_runtime

.config/git/*
!.config/git/*
.config/goa-1.0

.config/gtk-2.0/*
!.config/gtk-2.0/*

.config/gtk-3.0/*
!.config/gtk-3.0/*

.config/dunst/*
!.config/dunst/*

.config/ibus
.config/menu
.config/micro
.config/nemo
.config/nvim
.config/xfce4
.config/xarchiver
.config/vlc

.config/mpd/*
!.config/mpd/*

.config/mpDris2/*
!.config/mpDris2/*


.config/ncmpcpp/*
!.config/ncmpcpp/*

.config/zsh/*
.config/zsh/zinit
!.config/zsh/*


/.local/lib

/.local/share/applications
/.local/share/aurutils
/.local/share/gnupg/*
!/.local/share/gnupg/gpg-agent.conf
!/.local/share/gnupg/sshcontrol
/.local/share/gvfs-metadata
/.local/share/icons
/.local/share/keyrings
/.local/share/nemo
/.local/share/nvim
/.local/share/Trash
/.local/share/vifm
/.local/share/vlc
/.local/share/xfce4

!foreignpkglist.txt
!pkglist.txt
!.dmrc
!.hushlogin
!.Xresources
!.xsettingsd
!.zshenv

.dotfiles

.Xauthority
.bash_logout
.bash_profile
.bashrc
.vimrc
.local/share/dwm/dwm_autostart.errors.log
.local/share/dwm/dwm_autostart.log
