/* colors */

* {
    background:                     #282828;
    background-alt:                 #3c3836;
    foreground:                     #ebdbb2;
    selected:               		#ebdbb2;
    off:                         	#c14a4a;
	on:               				#477a5b;
    accent:          				#266b79;
}
